# =========================
# OS / System
# =========================
.DS_Store
Thumbs.db

# =========================
# Node / Cypress / Playwright
# =========================

# =========================
# Java / Maven
# =========================
Java/target/
Java/.classpath
Java/.project
Java/.settings/
Java/.mvn/
Java/test-output/
Java/screenshots/

# =========================
# IDEs
# =========================
.idea/
.vscode/
*.iml
node_modules/
node_modules/
test-results/
